<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/notice/notice.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/notice/noticeUser.js}"></script>
</th:block>

<div layout:fragment="content">
  <div class="mng_wrap">
    <div class="notice-header" style="display: flex; justify-content: space-between">
      <h2 class="h2"><span>공지사항<span class="material-symbols-outlined">notifications</span></span></h2>
      <ul class="breadcrumb" style="display: flex; list-style: none; gap: 5px;">
        <li><a href="/"><span class="material-symbols-outlined">home</span></a></li>
        <li><span class="material-symbols-outlined">arrow_forward_ios</span></li>
        <li>공지사항</li>
      </ul>
    </div>
    <hr>

    <div class="notice-search-box" th:object="${noticeSearchDto}">
      <select th:field="*{searchDateType}" class="form-control">
        <option value="all">전체기간</option>
        <option value="1d">1일</option>
        <option value="1w">1주</option>
        <option value="1m">1개월</option>
        <option value="6m">6개월</option>
      </select>
      <select th:field="*{searchBy}" class="form-control">
        <option value="noticeTitle">제목</option>
        <option value="createdBy">등록자</option>
      </select>
      <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
      <button id="searchBtn" type="button" class="btn btn-search">검색</button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>NO.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록 날짜</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice : ${notices.getContent()}">
        <td th:text="${notice.id}"></td>
        <td>
          <a th:href="@{'/notice/' + ${notice.id}}" th:text="${notice.noticeTitle}"></a>
        </td>
        <td th:text="${notice.author}"></td>
        <td th:text="${#temporals.format(notice.createTime, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>

    <div class="pagination-container"
         th:with="start=${(notices.number/maxPage)*maxPage + 1},
                  end=(${(notices.totalPages == 0) ? 1 : (start + (maxPage-1) < notices.totalPages ? start + (maxPage - 1) : notices.totalPages)})">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${notices.first} ? 'disabled'">
          <a class="page-link" th:data-page="${notices.number - 1}" aria-label="Previous">&laquo;</a>
        </li>

        <li class="page-item" th:each="page : ${#numbers.sequence(start, end)}"
            th:classappend="${notices.number eq page - 1} ? 'active'">
          <a class="page-link" th:data-page="${page - 1}" th:text="${page}"></a>
        </li>

        <li class="page-item" th:classappend="${notices.last} ? 'disabled'">
          <a class="page-link" th:data-page="${notices.number + 1}" aria-label="Next">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</html>