<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice/noticeDtl.css}">
</th:block>

<div layout:fragment="content">
    <div class="notice-detail-container">
        <div class="notice-header">
            <div class="breadcrumb">
                <a th:href="@{/}"><span class="material-symbols-outlined">home</span></a>
                <span class="material-symbols-outlined">arrow_forward_ios</span>
                <span>공지사항</span>
            </div>
        </div>

        <div class="notice-detail-header">
            <h2 class="title" th:text="${notice.noticeTitle}">공지사항 제목입니다</h2>
            <div class="notice-detail-meta">
                <span class="author">
                    <span class="material-symbols-outlined" style="font-size: 1.6rem; vertical-align: middle;">person</span>
                    <th:block th:text="${notice.author}">관리자</th:block>
                </span>
                <span class="date">
                    <span class="material-symbols-outlined" style="font-size: 1.6rem; vertical-align: middle;">calendar_month</span>
                    <th:block th:text="${#temporals.format(notice.createTime, 'yyyy.MM.dd HH:mm')}">2023.10.10</th:block>
                </span>
            </div>
        </div>

        <div class="notice-detail-content">
            <p th:text="${notice.noticeContent}">공지사항 본문 내용이 들어갑니다.</p>
        </div>

        <div class="notice-detail-images" th:if="${not #lists.isEmpty(notice.noticeImgDtoList)}">
            <div th:each="noticeImg : ${notice.noticeImgDtoList}">
                <img th:if="${not #strings.isEmpty(noticeImg.imgUrl)}"
                     th:src="${noticeImg.imgUrl}"
                     th:alt="${notice.noticeTitle}">
            </div>
        </div>

        <div class="notice-detail-footer">
            <a th:href="@{/notices}" class="btn-list">목록으로</a>
        </div>
    </div>
</div>
</html>