<header th:fragment="header" class="header">
    <div class="headerTop">
        <div class="headerCenter">
            <div class="headerLogo">
                <a th:href="@{/}">
                    <img th:src="@{/img/logoTitle.png}" alt="homeLogo"/>
                </a>
            </div>

            <form th:action="@{/}" method="get" class="searchBtn">
                <input class="search-input" name="searchQuery" type="search" placeholder="검색어를 입력해주세요">
                <button class="btnSearch" type="submit">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </form>

            <ul class="myInfo">
                <li class="top"><a th:href="@{/notices}">공지사항</a></li>

                <li sec:authorize="isAnonymous()" class="top">
                    <a th:href="@{/members/login}">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="top">
                    <a th:href="@{/members/logout}">로그아웃</a>
                </li>
            </ul>
        </div>

        <ul class="headerCategory">
            <li class="menu"><a th:href="@{/category/food}">사료</a></li>
            <li class="menu"><a th:href="@{/category/snack}">영양간식</a></li>
            <li class="menu"><a th:href="@{/category/bath}">목욕용품</a></li>
            <li class="menu"><a th:href="@{/category/bowel}">위생/배변</a></li>
            <li class="menu"><a th:href="@{/category/clothes}">장난감/옷</a></li>
            <li class="menu"><a th:href="@{/category/stuff}">굿즈</a></li>
        </ul>
    </div>
</header>
