.login-container {
    width: 41.5%;
    min-width: 600px;
    margin: 35px auto 40px;
}

.login-title {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.login-content {
    padding: 60px;
}

.form-group {
    text-align: center;
    margin-bottom: 30px;
}

.form-group input {
    width: 80%;
    height: 47px;
    border-radius: 13px;
    border: 1px solid rgba(128, 128, 128, 0.15);
    padding: 5px 10px;
}

.form-group input:focus {
    outline: none;
    border: 2px solid gray;
}

.btn {
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-login {
    background: #ffc3c3;
    border: none;
}

.btn-signup {
    background: #fff7f7;
    border: 0.5px solid rgba(211, 211, 211, 0.42);
}

.error-message {
    color: #bd2130;
    text-align: center;
    margin-bottom: 20px;
}

.login-sns {
    width: 247px;
    margin: 40px auto 0;
    text-align: center;
}

.login-sns img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
}