.member_join_wrap{
    margin: 0 auto; width: 1000px;
}
.member_join_title{
    padding: 20px 5px 0;
    margin: 0 0 20px;
    border-bottom: 4px solid #fc7272;
}
.member_join_wrap .member_join_content{
    width: 800px;
    padding: 30px 30px;
    margin: 0 auto;
}
.fieldError{
    color: #dc3344;
    margin-left: 140px;
    font-size: 15px;
}